/* bounce 애니메이션 */
.story_scroll_icon img {
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
    0% {
        top: 30px;
    }
    50% {
        top: 40px;
    }
    100% {
        top: 30px;
    }
}
