:root {
    /* base color */
    --color-black: #000;
    --color-gray01: #86868b;
    --color-gray02: #cfcfcf;
    --color-gray03: #e4e6ea;
    --color-gray04: #eff1f5;
    --color-gray05: #f5f7fa;
    --color-white: #fff;
}

html,
body {
    width: 100%;
    min-height: 100%;
    background: var(--color-gray05);
    margin: 0;
}
.section {
    min-height: 100vh;
    overflow: hidden;
}
