.inner_wrap {
    padding: 0 80px;
}

h5,
span {
    text-transform: uppercase;
    word-wrap: break-word;
}

/* story */
#story {
    display: flex;
    flex-direction: column;
}

.story_txt_container {
    margin-top: 120px;
}

.story_txt_container span {
    margin-left: calc(340px - 80px);
    font-size: 1.4rem;
}

.story_txt_container h5 {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.15;
    padding: 42px 0;
}

.story_txt_container h5 bold {
    font-weight: 900;
}

/* story - 카드 박스 페이지 */
.story_card_wrap {
    background: url("../images/story_bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1400px;
    position: relative;

    justify-content: center;
    align-items: center;
}

.story_card_sticky {
    position: sticky;
    top: 50%;
    transform: translateX(30%) translateY(-50%);
}

.story_card_frame {
    display: flex;
    gap: 32px;
    white-space: nowrap;
}

.story_card {
    background: var(--color-white);
}

.story_card:nth-child(even) {
    background: var(--color-black);
}

.story_card_inner {
    margin: 56px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 220px;
}

.story_card_top > span {
    padding-right: calc(191px - 60px);
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
}

.story_card_top:nth-child > span:nth-child(even) {
    color: var(--color-white);
}

.story_card:nth-child(even) h5,
.story_card:nth-child(even) span,
.story_card:nth-child(even) p {
    color: var(--color-white);
}

.story_card_icon {
    display: flex;
    width: 36px;
    height: 36px;
    gap: 12px;
}

.story_card_btm h5 {
    color: var(--color-black);
    font-size: 2.8rem;
    font-weight: 800;
    margin: 44px auto 87px auto;
    line-height: 31px;
}

.story_card_btm span {
    color: var(--color-black);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
}

/* story - 스토리 페이지 */
.story_story_wrap {
    background-image: url("../images/story_bg2.png");
    background-size: 100% 100%;
    height: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20%;
}

.story_story_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.story_story_content h5 {
    font-size: 9.2rem;
    font-weight: 400;
    color: var(--color-white);
    line-height: 114px;

    display: flex;
    flex-direction: column;
}

.story_story_content span {
    font-weight: 900;
}

.story_story_content p {
    font-size: 3.4rem;
    font-weight: 700;
    color: var(--color-white);
    padding: 40px;
    margin-left: 240px;
    line-height: 158.82%;
    padding-top: 2%;
    padding-bottom: 14%;
    white-space: nowrap;
}

.story_scroll_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    gap: 14px;
}

.story_scroll_icon span {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-white);
    text-transform: capitalize;
}

.story_scroll_img {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 20px;
    left: calc(50% + 60px);
}

/* brand */
.brand_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 361px;
}

.brand_header span {
    display: inline-block;
    margin-top: 28px;
    font-size: 2.8rem;
    font-weight: 700;
}

.brand_header span:nth-child(2) {
    padding-right: 150px;
}

.brand_content_wrap {
    display: flex;
    flex-direction: column;
}

.brand_content_txt {
    text-align: center;
}

.brand_content_txt > span {
    font-size: 3.2rem;
    color: var(--color-gray01);
}

.brand_content_txt h5 {
    font-size: 10rem;
    font-weight: 900;
    padding: 36px;
    color: var(--color-black);
}
.brand_content_txt h5 > span {
    font-size: 10rem;
    font-weight: 400;
    color: var(--color-black);
}

.brand_logo_wrap {
    margin-top: 80px;
    margin-bottom: 258px;
}

.brand_logo_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.brand_logo_inner {
    border: 1px solid #cfcfcf;
}

.brand_logo_inner img {
    min-width: 100%;
}

/* contact */
/* .contact_container {
    display: flex;
    flex-direction: column;
    margin-top: 101px;
} */

.contact_container span {
    margin-left: calc(340px - 80px);
    font-size: 1.4rem;
    font-weight: 700;
}

.contact_img {
    margin: 42px 0 52px 0;
    height: 490px;
    object-fit: cover;
}

.contact_container_txt {
    margin-bottom: 129px;
}

.contact_container h5 {
    font-size: 10rem;
    font-weight: 400;
    margin-bottom: 36px;
}

.contact_container h5 bold {
    font-size: 10rem;
    font-weight: 900;
    margin-bottom: 36px;
}

.contact_container p {
    font-size: 2rem;
    font-weight: 700;
}

.contact_container p:nth-child(3) {
    margin-top: 32px;
}

/* footer */
footer {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

/* 드롭다운 메뉴 */
.footer_dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.footer_dropdown_btn {
    background: #e4e6ea;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 800;
    padding: 15px 20px;
    cursor: pointer;
    margin: 140px 0 40px 0;
}

.footer_dropdown_btn img {
    width: 12px;
    height: 6px;
    margin-left: 12px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.footer_dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    margin-top: -230px;
}

.footer_dropdown_content a {
    display: block;
    font-size: 1.4rem;
    border-bottom: 1px solid #cfcfcf;
    padding: 14px 25px;
    text-align: center;
}

.footer_dropdown_content a:nth-child(3) {
    border-bottom: none;
}

.footer_dropdown_btn:focus .footer_dropdown_content {
    display: block;
}

.show {
    display: block;
}

.footer_dropdown_btn:hover img {
    transform: translateY(-50%) rotate(-180deg);
}

.footer_btm {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer_btm p {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: right;
}

.footer_btm_address > p {
    line-height: 14px;
}

.footer_btm_address p:nth-child(2) {
    margin-top: 16px;
}

/* 반응형 적용할 때 중간 값 설정 */
/* @media screen and (max-width: 1680px) {
    .story_txt_container h5 {
        font-size: 7rem;
    }
}
@media screen and (max-width: 1200px) {
    .inner_wrap {
        padding: 0 40px;
    }
    .story_txt_container h5 {
        font-size: 5rem;
    }
}
@media screen and (max-width: 960px) {
    .story_txt_container h5 {
        font-size: 4.8rem;
    }
} */
