@media screen and (min-width: 768px) {
}

@media screen and (max-width: 360px) {
    .inner_wrap {
        padding: 0 20px;
    }

    h5,
    span {
        text-transform: uppercase;
        word-wrap: break-word;
    }

    /* story */
    #story {
        display: flex;
        flex-direction: column;
    }

    .story_txt_container {
        margin-top: 120px;
    }

    .story_txt_container span {
        margin-left: calc(48px - 20px);
        font-size: 1rem;
    }

    .story_txt_container h5 {
        font-size: 3rem;
        /* padding: 42px 0; */
    }

    /* story - 카드 스크롤 페이지 */
    .story_card_wrap {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .story_card_frame {
        display: flex;
        gap: 32px;
        white-space: nowrap;
    }

    .story_card {
        width: 300px;
        height: 300px;
    }

    .story_card:nth-child(even) {
        background: var(--color-black);
    }

    .story_card_top {
        margin: 56px 191px 0px 60px;
    }

    .story_card_top span {
        color: var(--color-black);
        font-size: 1rem;
    }

    .story_card:nth-child(even) h5,
    .story_card:nth-child(even) span {
        color: var(--color-white);
    }

    .story_card_btm {
        margin-top: calc(298px - 56px);
        margin-left: 60px;
        margin-bottom: 56px;
    }

    .story_card_icon {
        display: flex;
        width: 24px;
        height: 24px;
        gap: 12px;
    }

    .story_card_btm h5 {
        color: var(--color-black);
        font-size: 1.6rem;
        font-weight: 800;
        margin: 44px auto 87px auto;
        line-height: 31px;
    }

    .story_card_btm span {
        color: var(--color-black);
        font-size: 1rem;
        font-weight: 700;
        text-transform: capitalize;
    }

    /* story - 스크롤 다운 페이지 */
    .story_background_wrap {
        height: 100vh;
        padding: 178px 20px;
    }

    .story_background_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .story_background_content h5 {
        font-size: 2.4rem;
        line-height: 125%;
    }

    .story_background_content h5 bold {
    }

    .story_background_content p {
        font-size: 1.4rem;
        line-height: 157%;
        padding: 18px 0;
        margin-left: 0;
    }

    .story_scroll_icon {
        display: none;
    }

    .story_scroll_icon span {
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--color-white);
        text-transform: capitalize;
        text-align: center;
    }

    .story_scroll_icon img {
        width: 38px;
        height: 38px;
        position: absolute;
        top: 20px;
        left: calc(50% + 60px);
    }

    /* brand */
    .brand_header {
        margin-bottom: 160px;
    }

    .brand_header span {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .brand_header span:nth-child(2) {
        padding-right: 10px;
        margin-left: -50px;
    }

    .brand_content_txt > span {
        font-size: 1.6rem;
    }

    .brand_content_txt h5 {
        font-size: 3rem;
        padding: 18px;
    }
    .brand_content_txt h5 > span {
        font-size: 3rem;
    }

    .brand_logo_wrap {
        margin: 32px auto;
    }

    .brand_logo_container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }

    .brand_logo_inner img {
        padding: 10px 25px;
    }

    /* contact */
    .contact_container {
        display: flex;
        flex-direction: column;
    }

    .contact_container span {
        display: inline-block;
        margin-left: calc(48px - 20px);
        width: 100%;
        font-size: 1rem;
    }

    .contact_container img {
        margin-top: 22px;
        margin-bottom: 24px;
    }

    .contact_container_txt {
        margin-bottom: 160px;
    }

    .contact_container h5 {
        font-size: 3rem;
        margin-bottom: 36px;
    }

    .contact_container h5 bold {
        font-size: 3rem;
        margin-bottom: 36px;
    }

    .contact_container p {
        font-size: 1.2rem;
    }

    .contact_container p:nth-child(3) {
        margin-top: 32px;
    }

    /* footer */
    footer {
        display: flex;
    }

    /* 드롭다운 메뉴 */
    .footer_dropdown {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .footer_dropdown_btn {
        background: #e4e6ea;
        border: none;
        border-radius: 10px;
        font-size: 1.3rem;
        font-weight: 800;
        padding: 15px 20px;
        cursor: pointer;
        margin-top: 140px;
        margin-bottom: 40px;
    }

    .footer_dropdown_btn img {
        width: 12px;
        height: 6px;
        margin-left: 12px;
        flex-shrink: 0;
        transition: transform 0.3s ease;
    }

    .footer_dropdown_content {
        display: none;
        position: absolute;
        z-index: 1;
        border: 1px solid #cfcfcf;
        border-radius: 10px;
        margin-top: -230px;
    }

    .footer_dropdown_content a {
        display: block;
        font-size: 1.4rem;
        border-bottom: 1px solid #cfcfcf;
        padding: 14px 25px;
        text-align: center;
    }

    .footer_dropdown_content a:nth-child(3) {
        border-bottom: none;
    }

    .footer_dropdown:hover .footer_dropdown_content {
        display: block;
    }

    .footer_dropdown_btn:hover img {
        transform: translateY(-50%) rotate(-180deg);
    }

    .footer_btm {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer_btm p {
        font-size: 1rem;
        text-align: left;
    }

    .footer_btm_address p:nth-child(2) {
        margin-top: 16px;
    }
}
