@media screen and (max-width: 1260px) {
    .inner_wrap {
        padding: 0 60px;
    }

    /* story */
    .story_txt_container {
        margin-top: 120px;
        opacity: 0;
        transform: translateY(110px);
        transition: opacity 0.6s ease, transform 0.4s ease;
    }
    .fade-in {
        opacity: 1;
        transform: translateY(0);
        z-index: 2;
    }

    .story_txt_container span {
        margin-left: 15%;
        font-size: 1.4rem;
    }

    .story_txt_container h5 {
        font-size: 6rem;
        padding: 42px 0;
    }

    /* story - 카드 박스 페이지 */
    .story_card_sticky {
        top: 50%;
        transform: translateX(11%) translateY(-50%);
    }

    .story_card_inner {
        margin: 56px 60px;
        gap: 220px;
    }

    .story_card_top > span {
        padding-right: calc(191px - 60px);
        font-size: 2rem;
    }
    .story_card_icon {
        width: 36px;
        height: 36px;
        gap: 12px;
    }

    .story_card_btm h5 {
        font-size: 2.8rem;
        margin: 44px auto 87px auto;
    }

    .story_card_btm span {
        font-size: 1.4rem;
    }

    /* story - 스토리 페이지 */
    .story_story_wrap {
        padding-top: 35%;
    }

    .story_story_content h5 {
        font-size: 5.5rem;
    }
    .story_story_content p {
        font-size: 2.8rem;
    }

    .story_scroll_icon {
        display: none;
    }

    /* brand */
    .brand_header span {
        font-size: 2.4rem;
    }

    .brand_header span:nth-child(2) {
        padding-right: 150px;
    }

    .brand_content_txt > span {
        font-size: 2.3rem;
    }

    .brand_content_txt h5 {
        font-size: 5.5rem;
        padding: 25px;
    }
    .brand_content_txt h5 > span {
        font-size: 5.5rem;
    }

    .brand_logo_wrap {
        margin-top: 20px;
    }

    /* contact */
    .contact_container span {
        font-size: 1.4rem;
    }

    .contact_container h5 {
        font-size: 5.5rem;
    }

    .contact_container h5 bold {
        font-size: 5.5rem;
    }

    .contact_container p {
        font-size: 2rem;
    }
}
